## .NET
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb

## IDE
.vs/
.vscode/
*.sln.DotSettings.user

## OS
Thumbs.db
Desktop.ini
.DS_Store

## Build output
deploy/
publish/

## Logs
*.log
audit.log

## Uploads
Uploads/
Temp/
